/* Conteneur principal de la page "Difficultés" */
main.difficultes {
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

/* Section de contenu */
section.difficultes {
    width: 420px;
    margin: 0;
    justify-self: center;
    align-items: center;
    box-sizing: border-box;
    display: block;
}

table {
  width: 80%;
  margin: 0 auto; 
  border-collapse: collapse;
  background-color: #000;
  color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  table-layout: fixed; 
  padding: 20px;
  margin-bottom: 50px;
}

/* effet hover global sur le tableau */
table:hover {
  background-color: #111;
}

/* cellules */
td, th {
  border-bottom: 2px solid #61a077;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.15s ease;
  white-space: normal;       
  word-break: break-word;    
  overflow-wrap: break-word; 
  hyphens: auto;             
  vertical-align: top;
}

/* titres */
th {
  color: #61a077;
  font-weight: 600;
}

/* hover sur les cellules à partir de la 2e colonne */
td:not(:first-child):hover {
  background-color: rgba(97, 160, 119, 0.6);
  transform: scale(1.08);
  cursor: pointer;
  border-radius: 10px;
  
}

/* désactiver tout effet sur la première colonne */
td:first-child {
  color: #0056A4;
  font-weight: bold;
  transform: none;
  cursor: default;
  border-right: 2px solid #61a077;
}

/* même bordure pour le premier th */
th:first-child {
  border-right: 2px solid #61a077;
}

/* largeur fixe pour éviter que les cellules s’écrasent trop */
td, th {
  width: 14%;
}
td:first-child, th:first-child {
  width: 10%;
}

tr th {
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 2;
}

td:first-child {
  background-color: #000;
}


